#wapper{
    width: 100%;
}
.kode-services-section:first-child {
    padding: 40px 0px 40px;
}
.section{
    float: left;
    width: 100%;
}
.left-menu {
    margin-top: -44px;
}
.left-menu h2 {
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.left-menu .my-menu{
    padding-left: 20px;
}
.my-menu{
    padding: 0px;
    min-width: 0px;
}
.myslyde ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;
}
.myslyde > ul > li {
    border-right: 5px solid #d06212;
}
.myslyde ul li {
    position: relative;
    min-width: 230px;
    background-color: #fff;
    vertical-align: middle;
    border-top: 1px solid #bdc3c7;
    cursor: pointer;
    -webkit-transition: all 0.3ms;
    -o-transition: all 0.3ms;
    transition: all 0.3ms;
    padding: 5px 0px 5px 10px;
}
.myslyde ul li a {
    text-decoration: none;
    color: #800000 !important;
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px;
}
.myslyde a {
    font-size: 16px;
    font-weight: bold;
}
.percent20-md {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
    .percent20-md {
        width: 20%;
        float: left;
    }
}

.kode-service:hover{
    border-color: #BB0000;
}
.kode-service {
    float: left;
    width: 100%;
    padding: 30px 20px 30px 20px;
    border: solid 1px #cfcfcf;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 30px;
}
.fa-gift::before {
    content: "\f06b";
}
.kode-service i {
    height: 90px;
    width: 90px;
    display: inline-block;
    background-color: #efeff0;
    border-radius: 100%;
    margin: 0px 0px 15px 0px;
    font-size: 50px;
    padding: 18px 0px;
}
.kode-service i,.kode-service h3 ,.kode-service h3::before {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.kode-service h3::before {
    content: "";
    height: 4px;
    width: 50px;
    border-top: solid 1px #cbcbcd;
    border-bottom: solid 1px #cbcbcd;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.kode-service h3 {
    height: 55px;
}
.kode-service h3 a{
    text-decoration: none;
    color: #4a454b;
}
.kode-services-section .kode-service p {
    height: 80px;
}
.kode-services-section .kode-service p {
    font-size: 15px;
    color: #777;
}





